[user]
	name = jeroendv
	email = fly.jdv@gmail.com

[alias]
	st = status --short
	l = log --oneline --abbrev-commit

[push]

	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple


[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto
